* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-drag: none;
    user-select: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
background-color: #888; /* color of the scrollbar thumb */
border-radius: 20px; /* border radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
background-color: #555; /* color of the scrollbar thumb when hovered */
}

body {
    background-color: #343A40;
    color: #fff;
}

.container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max(25%, 350px);
    background-color: #232930;
    padding: 1rem;
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile span {
    width: 100%;
    padding: 0 20px;
}

.profile-pic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #343A40;
}

.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343A40;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.room-icon{
    width: fit-content;
    display: flex;
    align-items: center;
}

.room-pic{
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #232930;
}

.room-pic i {
    font-size: .8rem;
}

.room-icon span {
    width: 100%;
    padding: 0 20px;
}

.list-heading{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* .close-sidebar{
    display: none;
    text-align: end;
} */

.popup{
    position: absolute;
    left: 4rem;
    background-color: #232930;
    height: 50%;
    width: min(80%, 300px);
    padding: 12px;
    overflow: hidden;
    z-index: 3;
    border-radius: 20px;
}

.friends-popup, .room-popup{
    height: 100%;
}

/* .room-list{
    height: 100%;
    padding: 12px 0;
    overflow: hidden;
} */

.popup ul{
    list-style: none;
    overflow-y: scroll;
    height: 80%;
}.popup ul li:hover, .room-popup ul li:hover, .friends-popup ul li:hover{
    cursor: pointer;
    background-color: #343A40;
}

.popup > div > div > i {
    margin-right: 1rem;
}

/* .room-list ul{
    list-style: none;
    height: 80%;
    overflow-y: scroll;
}.room-list ul li:hover{
    cursor: pointer;
    background-color: #343A40;
} */

/* .active-room{
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    text-transform: capitalize;
    position: relative;
} */

.active-room, .friend{
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    text-transform: capitalize;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    width: 100%;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    cursor: pointer;
    position: relative;
    color: #ced4da;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}


/* .side-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.side-activity button{
    width: 100%;
    cursor: pointer;
    position: relative;
    font-size: .8rem;
}

.side-activity button span{
    display: block;
}
.side-activity button i{
    display: none;
}

#logout{
    color: #ced4da;
    width: fit-content;
    position: relative;
}#logout:hover::after {
    content: 'logout';
    position: absolute;
    top: -2.5rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: .5rem;
    font-size: .8rem;
    white-space: nowrap;
} */

.form-msg {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: .5rem;
}

.form-msg button{
    width: fit-content;
    padding: .5rem;
    cursor: pointer;
}

input, textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
    resize: none;
}

button {
    /* width: 20%; */
    background-color: #0069d9;
    color: #fff;
    border: none;
}

input,
button {
    border-radius: 10px;
    padding: .5rem;
}

.chat-display {
    background-color: #333;
    list-style-type: none;
    width: 100%;
    height: 100%;
    /* max-width: 600px; */
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: left;
    overflow: auto;
    flex-grow: 1;
}

.post {
    background-color: #494949;
    border-radius: 10px;
    padding: 0 0 .25rem;
    margin: .5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.bubble {
    padding: 0 0 .25rem;
    margin: .5rem;
    flex-shrink: 0;
}

.post--left {
    width: fit-content;
    align-self: flex-start;
    max-width: 350px;
}

.post--right {
    width: fit-content;
    align-self: flex-end;
    max-width: 350px;
}

.post__header {
    color: #fff;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.post__header--user-0 {
    background-color: black;
}

.post__header--user-1 {
    background-color: darkblue;
}

.post__header--user-2 {
    background-color: purple;
}
.post__header--user-3 {
    background-color: yellow;
    color: black;
}
.post__header--user-4 {
    background-color: red;
}
.post__header--user-5 {
    background-color: green;
}
.post__header--user-6 {
    background-color: orange;
    color: black;
}
.post__header--user-7 {
    background-color: indigo;
}
.post__header--user-8 {
    background-color: violet;
    color: black;
}
.post__header--user-9 {
    background-color: royalblue;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: .6rem;
}

.post__text {
    margin-top: 5px;
    color: #fff;
    padding: .25rem .5rem;
}

.user-list {
    width: 100%;
    min-height: 2.65rem;
    margin: 0 auto;
    max-width: 600px;
    padding: .75rem .25rem;
}

.user-list {
    font-style: italic;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000020;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.create-room-dialog, .join-room-dialog, .add-friend-dialog, .edit-message-dialog{
    width: 60%;
    /* aspect-ratio: 16/9; */
    border-radius: 20px;
    padding: 12px;
    background-color: #232930;
    box-shadow: 0px 0px 2px #ced4da inset;
    display: none;
}

.visible {
    display: block !important;
}

.create-room-dialog h1, .join-room-dialog h1, .add-friend-dialog h1, .edit-message-dialog h1{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

.create-room-dialog div, .join-room-dialog div, .add-friend-dialog div, .edit-message-dialog div{
    margin-bottom: 10px;
}

.create-room-dialog button[type=submit] span, .join-room-dialog button[type=submit] span, .add-friend-dialog button[type=submit] span, .edit-message-dialog button[type=submit] span{
    display: block;
}

.create-room-dialog button[type=submit] i, .join-room-dialog button[type=submit] i, .add-friend-dialog button[type=submit] i, .edit-message-dialog button[type=submit] i{
    display: none;
}

.room-list-icon, .friends-list-icon, .settings-icon, .ai-icon{
    display: none;
}

.popup
{
    display: none;
}

.context-menu {
    position: absolute;
    background-color: #232930;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    z-index: 5;
    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        & li {
            padding: 5px;
            cursor: pointer;
            &:hover {
                background-color: #0052cc;
            }
        }
    }
}

@media (min-width: 769px) {
    .popup
    {
        display: none !important;
    }
}

.activity-container {
    position: relative;
    width: 50px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.typing-indicator::before,
.typing-indicator::after,
.activity-container::before
{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: bounce 1.5s infinite ease-in-out;
}

.typing-indicator::before {
    left: 0;
    animation-delay: 0s;
}

.activity-container::before {
    left: 20px;
    animation-delay: 0.3s;
}

.typing-indicator::after {
    right: 0;
    animation-delay: 0.6s;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}

.room-list-icon-alt,
.friends-list-icon-alt,
.settings-icon-alt,
.ai-icon-alt
{
    display: block;
    padding: .5rem;
    gap: 1rem;
    cursor: pointer;
    background-color: #0069d9;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: background-color.1s ease-in-out;
    border-radius: 10px;
}

.tabs{
    display: flex;
    flex-direction: column;
    position: relative;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-7.5px);
    }
}

/* Responsive Styles */

@media (max-width: 768px) {
    aside {
        position: absolute;
        left: 0;
        width: 50px;
        height: 100vh;
        transition: width .1s ease-in-out;
        z-index: 4;
    }

    .tabs{
        align-items: center;
    }

    .aside-block{
        min-width: 50px;
        min-height: 100vh;
    }

    .profile-pic{
        min-width: 25px;
        height: 25px;
        font-size: .5rem;
    }.profile-pic:hover::after {
        content: attr(data-name);
        position: absolute;
        top: 0;
        left: 2.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }

    .profile span{
        display: none;
    }

    .room-list{
        display: none;
    }

    .room-list-icon,
    .friends-list-icon,
    .settings-icon,
    .ai-icon
    {
        display: block;
        padding: .5rem;
        gap: 1rem;
        cursor: pointer;
    }

    .room-list-icon:hover::after {
        content: 'Recent Rooms';
        position: absolute;
        top: 3rem;
        left: 2.5rem;
        z-index: 4 ;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }
    .friends-list-icon:hover::after {
        content: 'Friends List';
        position: absolute;
        top: 5rem;
        left: 2.5rem;
        z-index: 4 ;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }
    .settings-icon:hover::after {
        content: 'Settings';
        position: absolute;
        top: 0;
        left: 2.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }
    .ai-icon:hover::after {
        content: 'AI';
        position: absolute;
        top: 7rem;
        left: 2.5rem;
        z-index: 4 ;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }

    form{
        margin-top: 1rem;
    }

    .create-room-btn:hover::after {
        content: 'Create Room';
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }.join-room-btn:hover::after {
        content: 'Join Room';
        position: absolute;
        top: 2.5rem;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }.add-friend-btn:hover::after {
        content: 'Add Friend';
        position: absolute;
        top: 2.5rem;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }

    .logout-btn{
        width: 25px;
        justify-content: center;
        background-color: transparent;
    }.logout-btn:hover::after {
        content: 'logout';
        position: absolute;
        top: -2.5rem;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: .5rem;
        font-size: .8rem;
        white-space: nowrap;
    }

    .logout-btn span
    {
        display: none;
    }

    .create-room-dialog, .join-room-dialog, .add-friend-dialog, .edit-message-dialog{
        width: 80%;
    }

    .create-room-dialog button[type=submit] span, .join-room-dialog button[type=submit] span, .add-friend-dialog button[type=submit] span, .edit-message-dialog button[type=submit] span{
        display: none;
    }

    .create-room-dialog button[type=submit] i, .join-room-dialog button[type=submit] i, .add-friend-dialog button[type=submit] i, .edit-message-dialog button[type=submit] i{
        display: block;
    }

    .max-view-aside{
        display: none;
    }
}

@media (max-width: 440px) {
    .profile span {
        display: none;
    }

    .profile{
        justify-content: space-between;
    }
}

@media (hover: none) {
    .room-list-icon:hover::after, .friends-list-icon:hover::after, .ai-icon:hover::after{
        display: none;
    }
}